---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Nicolas G. Britos
  </div>
  <div class="inline opacity-75">
    <a href="https://astro-modern-personal-website.netlify.app/" target="_blank" class="font-bold">Astro Template</a>
  </div>
</footer>
<style>

</style>
